/* Custom CSS for Stadtgarten und Friedhöfer */
body {
    background-color: #5cb85c; /* Green background color */
    color: #fff;
    font-family: 'Lora', serif;
  }
  
  header {
    color: #fff;
    padding: 20px 0;
  }
  
  h1{
    font-family: 'Lora', serif;
    font-size: 52px;
  }
  .navbar {
    background-color: #4cae4c; /* Darker green navbar */
  }
  /* Add this in your styles.css file or within the <style> tag in the head section */


  .jumbotron {
    background-color: #4cae4c; /* Darker green jumbotron */
    color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    font-family: 'Lora', serif;
  }
  
  .container {
    margin-top: 2rem;
    
  }
  footer {
    background-color: #4cae4c; /* Darker green footer background */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
  #treeImage {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  #logo {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
    border-radius: 10cm;
  }
  
  #waterButton {
    background-color: #4cae4c; /* Darker green button */
    color: #fff;
  }
  
  /* Custom CSS for Meine Baumkarte */
  #map {
    height: 600px;
    margin: 50px;
    border: 1px;
    outline: auto;
    outline-color: #000;
    outline-offset: 0.01cm;
  }


/* Additional styles for login page */
#login-logo {
  max-width: 150px;
  height: auto;
  margin-top: 10px;
}
.login-container {
  background-color: #fff; /* White background color for the login container */
  padding: 40px; /* Increased padding for more contrast */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Adjusted box-shadow for more contrast */
}

.login-form {
  margin-top: 20px;
}

.login-form label {
  color: #000; /* Black text color for labels */
}

.card {
  border: 2px solid #4cae4c; /* Border color for the card */
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjusted box-shadow for more contrast */
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-header {
  background-color: #4cae4c; /* Darker green header background */
  color: #fff;
  text-align: center;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: #495057; /* Dark gray label text color */
}

/* Custom CSS for centering buttons */
.btn-block {
  display: block;
  width: 50%;
  margin: auto;
}

.btn-primary {
  background-color: #4cae4c; /* Darker green button */
  border-color: #4cae4c;
  color: #fff;
  margin-bottom: 5px;
}

.btn-primary:hover {
  background-color: #398439; /* Darker green button on hover */
  border-color: #398439;
}

.btn-register {
  background-color: #0099ff; /* Green button for registration */
  border-color: #0099ff;
  color: #fff;
  margin-top: 5px;
}

.btn-register:hover {
  background-color: #006cb5; /* Green button for registration on hover */
  border-color: #006cb5;
  color: #fff;
}
/* Assuming you have Bootstrap included for styling */

.container-footer {
  background-color: #4cae4c; /* Choose your preferred background color */
  padding: 10px; /* Adjust the padding as needed */
  color: #fff; /* Text color for links and icons */
  size: max 100%;
  position: relative;
}

.footer-link {
  color: #fff; /* Link text color */
  margin-right: 20px; /* Adjust spacing between links */
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline; /* Add underline on hover */
}

.footer-icon img {
  width: 50px; /* Adjust the icon size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Adjust spacing between icons */
  position: relative;
}

.btn-secondary {
  background-color: #6c757d; /* Gray button for cancel */
  border-color: #6c757d;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 10px;
}

.btn-secondary:hover {
  background-color: #5a6268; /* Gray button for cancel on hover */
  border-color: #5a6268;
  color: #fff;
}

#taskList {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  margin: auto;
  width: 75%
}

#tasks {
  list-style-type: none;
  padding: 20px;
  margin: 20px;
  position: relative;
  margin: auto;
  width: 75%;
}

#tasks li {
  background-color:#fff;
  padding: 10px;
  margin-bottom: 5px;
  width: 75%;
  position: relative;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#tasks li:hover {
  background-color: #f2f2f2;
}


