<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="appleid-signin-client-id" content="[CLIENT_ID]">
  <meta name="appleid-signin-scope" content="[SCOPES]">
  <meta name="appleid-signin-redirect-uri" content="[REDIRECT_URI]">
  <meta name="appleid-signin-state" content="[STATE]">
  <title>Anmelden</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/Styles.css' %}">
</head>

<body>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <img id="login-logo" src="{% static 'img/logo.png/' %}" alt="Logo" class="img-fluid d-block mx-auto mb-4">
        <!-- Ersetzen Sie "your-logo.png" durch den Pfad zu Ihrem Logo-Bild -->

        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Anmelden</h3>
          </div>
          <div class="card-body">
            <form id="loginForm">
              <div class="form-group">
                <label for="username">Benutzername:</label>
                <input type="text" class="form-control" id="username" placeholder="Geben Sie Ihren Benutzernamen ein">
              </div>
              <div class="form-group">
                <label for="password">Passwort:</label>
                <input type="password" class="form-control" id="password" placeholder="Geben Sie Ihr Passwort ein">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Anmelden</button>
              <a class="btn btn-register btn-block" href="{% url 'register_view' %}">Registrieren</a>
            </form>
          </div>
        </div>
        <script src="https://accounts.google.com/gsi/client" async></script>
        <div id="g_id_onload"
             data-client_id="IHRE_GOOGLE_CLIENT_ID"
             data-login_uri="https://Ihre.Domain/Ihr_Login_Endpunkt"
             data-auto_prompt="false">
        </div>
        <div class="g_id_signin"
             data-type="standard"
             data-size="large"
             data-theme="outline"
             data-text="Mit anmelden"
             data-shape="rechteckig"
             data-logo_alignment="links">
        </div>
        <div id="appleid-signin" class="signin-button" data-color="black" data-border="true" data-type="sign-in"></div>
        <script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/de_DE/appleid.auth.js"></script>

        <div class="mt-3">
          <a class="btn btn-secondary btn-block" href="{%url 'home_view'%}">Zurück</a>
        </div>
      </div>
    </div>
  </div>
  <style>
    .signin-button {
      width: 337px;
      height: 40px;
    }
  </style>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Bootstrap JS und Abhängigkeiten (optional) -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- SweetAlert2 JS für schöne Benachrichtigungen -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    $(document).ready(function () {
      $('#loginForm').on('submit', function (e) {
        e.preventDefault(); // Standardformularübermittlung verhindern

        var username = $('#username').val();
        var password = $('#password').val();

        // AJAX-POST-Anfrage an die Login-API senden
        $.ajax({
          url: 'http://127.0.0.1:8000/login-post', // Mit Ihrem tatsächlichen Login-Endpunkt ersetzen
          method: 'POST',
          contentType: "application/json",
          dataType: "json",
          data: JSON.stringify({
            username: username,
            password: password
          }),
          success: function (response) {
            // Erfolgreiche Login-Antwort behandeln
            // Vorausgesetzt, die Antwort enthält ein Token oder ähnliches für die Sitzungsverwaltung
            localStorage.setItem('Authorization', response.token); // Token oder Sitzungsinformationen wie benötigt speichern

            // Nach erfolgreichem Login zu einer anderen Seite umleiten
            window.location.href = "http://127.0.0.1:8000/Verwaltung"; // URL nach Erfolg anpassen
          },
          error: function (xhr, status, error) {
            // Login-Fehler behandeln (z.B. ungültige Anmeldeinformationen)
            Swal.fire({
              title: 'Anmeldung fehlgeschlagen',
              text: 'Bitte überprüfen Sie Ihren Benutzernamen und Ihr Passwort und versuchen Sie es erneut.',
              icon: 'error',
              confirmButtonText: 'Ok'
            });
          }
        });
      });
    });
  </script>

</body>

</html>
